.WelcomeBox {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 50px auto; /* Centers the box on the page */
  }
  
  .welcome-text {
    color:#6C0002;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .signed-out {
    padding: 20px;
    background-color: #f8f9fa; 
    text-align: center;
  }
  
  .sign-in-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #6C0002; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signed-in {
    padding: 20px;
    background-color: #6C0002;
    text-align: center;
  }
  
  